{% extends 'layouts.html'%}
{% block title %}
Change Profile
{% endblock %}

{% block content %}
<h1>Change Password</h1>
{% if message %}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong>Error!</strong> {{message}}!
  </div>
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="old_password" class="form-label">Old Password</label>
        <input type="password" class="form-control" id="old_password" name="old_password" required> 
      </div>
      <div class="mb-3">
        <label for="new_password" class="form-label">New Password</label>
        <input type="password" class="form-control" id="new_password" name="new_password" required></input>
      </div>
      <div class="mb-3">
        <label for="confirm_password" class="form-label">Cofirm Password</label>
        <input class="form-control" type="password" id="confirm_password" name="confirm_password"> 
    </div>
    <input type="submit" class="btn btn-primary"></input>
</form>
{% endblock %}