{% extends 'layouts.html'%}
{% block title %}
Forget Password
{% endblock %}

{% block content %}
    <h1>Forget Password</h1>
    {% if message == "Email does not exists" %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Error!</strong> {{message}}!
      </div>
    {% elif message == "Email already sent" %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>Success!</strong> {{message}}!
      </div>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
{% endblock %}